<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Изменить пользователя</h2>
      <form class="form-horizontal" role="form" method="POST"
            (ngSubmit)="editUser()" #ngregisterForm="ngForm">
        <div class="row">
          <div class="col-6 ">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input type="text" name="name" [(ngModel)]="user.username" class="form-control" id="name"
                       placeholder="Имя" required autofocus #ngname="ngModel">
              </div>
            </div>
          </div>
          <div class="col-3">
            <div [hidden]="ngname.valid || ngname.pristine" class="form-control-feedback">
              <span class="text-danger align-middle">Как зовут?)</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 ">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" type="email"
                       name="email"
                       class="form-control" id="email" #ngemail="ngModel"
                       placeholder="Email" [(ngModel)]="user.email" required autofocus>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div [hidden]="ngemail.valid || ngemail.pristine" class="form-control-feedback">
              <span class="text-danger align-middle">Не верный email</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 ">
            <div class="form-group has-danger">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input [(ngModel)]="user.password" name="password" class="form-control"
                       id="password"
                       #ngpassword="ngModel" placeholder="Новый пароль" validatePass>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div [hidden]="ngpassword.valid || ngpassword.pristine" class="form-control-feedback">
              <span class="text-danger align-middle">Минимум 7 символов</span>
            </div>
          </div>
        </div>
        <div class="row buttons-row">
          <div class="col-6 ">
            <div class="form-group d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="submit" class="btn btn-success"
                        [disabled]="!ngregisterForm.form.valid || loading">
                  <i [classList]="loading ? 'fas fa-spinner rotating' : 'fas fa-user-plus'"></i>
                  <span class="pl-2">Сохранить</span>
                </button>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>