<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th>Задача</th>
                    <th>Категория</th>
                    <th>Пользователь</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let task of tasks">
                    <td>{{task.name}}</td>
                    <td>{{task.category.name}} <span class="fa fa-edit" (click)="editTaskCategory($event, task, task.category.id)"></span></td>
                    <td>{{getUser(task).username}} <span class="fa fa-edit" (click)="editTaskUser($event ,task, getUser(task).id)"></span></td>
                </tr>
                <tr *ngFor="let category of categories">
                    <td></td>
                    <td>{{category.name}}</td>
                    <td>{{categoryUserMap[category.id] ? categoryUserMap[category.id].username : ''}}
                        <span class="fa fa-edit" (click)="editCategory($event ,category, categoryUserMap[category.id])"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div #userList class="user-list position-absolute" [hidden]="!userEditing">
    <select [(ngModel)]="userId" class="custom-select" (change)="setUser()" >
        <option value="false">---</option>
        <option *ngFor="let user of users" value="{{user.id}}" [selected]="oldUserId && oldUserId === user.id">{{user.username}}</option>
    </select>
</div>
<div #categoryList class="task-list position-absolute" [hidden]="!categoryEditing">
    <select [(ngModel)]="categoryId" class="custom-select" (change)="setCategory()">
        <option value="false">---</option>

        <option *ngFor="let category of categories" [selected]="oldCategoryId && oldCategoryId === category.id" value="{{category.id}}">{{category.name}}</option>
    </select>
</div>