<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label>Название</label>
        <input type="text" [(ngModel)]="category.name" class="form-control" />
      </div>
      <div class="form-group">
        <label>Аккаунты для парсинга</label>
        <textarea [(ngModel)]="category.accounts" class="form-control" ></textarea>
      </div>
      <div class="form-group">
        <label>Количество дней для постов</label>
        <input type="number" [(ngModel)]="category.daysCountPost" class="form-control" />
      </div>
      <div class="form-group">
        <label>Количество дней для комментов</label>
        <input type="number" [(ngModel)]="category.daysCountComments" class="form-control" />
      </div>
      <div class="form-group">
        <label>Минус слова</label>
        <textarea [(ngModel)]="category.minus" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>Ключевые слова</label>
        <textarea [(ngModel)]="category.keywords" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-success" (click)="addCategory()">Добавить</button>
      </div>
    </div>
  </div>
</div>
