<div class="container">
    <div class="row">
        <div class="col-6">
            <form (ngSubmit)="editTask()">
                <div class="form-group">
                    <label for="name">Название задачи</label>
                    <input type="text" name="name" [(ngModel)]="task.name" class="form-control" id="name" required
                           #ngName="ngModel"/>
                </div>
                <div class="form-group">
                    <label>Аккаунты для парсинга</label>
                    <textarea #ngAccount="ngModel" [(ngModel)]="accounts" name="account" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>Аккаунты, которые использовать</label>
                    <select [(ngModel)]="instagrams" name="instagrams" class="form-control"
                            id="instagrams" required #ngInstagrams="ngModel" multiple>
                        <option *ngFor="let acc of allInstagrams" value="{{acc.id}}">{{acc.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="started">Запущена</label>
                    <input type="checkbox" [(ngModel)]="task.started" name="started" class="form-control" id="started"/>
                </div>

                <button [disabled]="!ngName.valid || !ngAccount.valid" type="submit"
                        class="btn btn-primary">Сохранить
                </button>
            </form>
        </div>
        <div class="col-6">
            <div *ngIf="task && task.firstLapTime">
                <ul>
                    <li *ngFor="let report of reports">
                        <a download href="{{serverHost}}/{{report.filename}}">
                            {{report.date | date: 'MM.dd.yyyy HH:mm'}}
                        </a>
                    </li>
                </ul>
                <button class="btn-danger btn" [disabled]="making" (click)="makeReport()">
                    <i [classList]="making ? 'fas fa-spinner rotating' : 'fas fa-plus'"></i>
                    <span class="pl-2">Создать отчет</span>
                </button>

            </div>
        </div>
    </div>
</div>