<div class="container">
    <div class="row">
        <div class="col-12">
        <button type="button" class="btn btn-secondary" routerLink="add">Добавить</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul class="list-group">
                <li *ngFor="let category of categories" class="list-group-item">
                    <input [(ngModel)]="category.name">
                    <div class="btn-group">

                        <button class="btn btn-dark" (click)="saveCategory(category)">Сохранить</button>
                        <button class="btn btn-danger" (click)="deleteCategory(category)">Удалить</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
