<div class="container">
    <div class="row">
        <div class="col-6">
            <form (ngSubmit)="addAccounts()">
                <div class="row">
                    <div class="col-6 offset-3">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <textarea name="logins" [(ngModel)]="logins" class="form-control" placeholder="logins" required
                          #ngLogin="ngModel"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div [hidden]="ngLogin.valid || ngLogin.pristine" class="form-control-feedback">
                            <span class="text-danger align-middle">Заполните логины</span>
                        </div>
                    </div>
                </div>
                <div class="row buttons-row">
                    <div class="col-6 offset-3 d-flex justify-content-between align-items-center">
                        <button [disabled]="!ngLogin.valid || loading" type="submit" class="btn btn-primary">
                            <i [classList]="loading ? 'fas fa-spinner rotating' : 'fas fa-plus'"></i><span class="pl-2">Добавить</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            <form [formGroup]="form" (ngSubmit)="deleteAccounts()">
                <ul class="list-group"  formArrayName="accounts">
                    <li class="list-group-item" *ngFor="let account of form.get('accounts')['controls']; let i = index">
                        <label class="m-0">
                            <input type="checkbox" [formControlName]="i">
                            {{accounts[i].username}}
                        </label>

                    </li>
                </ul>
                <div class="row buttons-row">
                    <div class="col-12 d-flex">
                        <button [disabled]="!form.valid || deleting" type="submit" class="btn btn-primary">
                            <i [classList]="deleting ? 'fas fa-spinner rotating' : 'fas fa-minus'"></i>
                            <span class="pl-2">Удалить</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>