<div class="container">
  <h1>{{category.name}}</h1>
  <div class="row">
    <div class="col-5">
      <ul class="list-group">
        <li class="list-group-item">
          <a routerLink="task-list">Сбор комментов</a>
        </li>
        <li class="list-group-item">
          <a routerLink="parse-users">Парсинг пользователей</a>
        </li>
      </ul>
    </div>
    <div class="col-5 offset-2">
      <h2>Настройки по умолчанию</h2>
      <div class="form-group">
        <label>Аккаунты для парсинга</label>
        <textarea [(ngModel)]="accounts" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>Количество дней для постов</label>
        <input type="number" [(ngModel)]="category.daysCountPost" class="form-control" />
      </div>
      <div class="form-group">
        <label>Количество дней для комментов</label>
        <input type="number" [(ngModel)]="category.daysCountComments" class="form-control" />
      </div>
      <div class="form-group">
        <label>Минус слова</label>
        <textarea [(ngModel)]="category.minus" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>Ключевые слова</label>
        <textarea [(ngModel)]="category.keywords" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-success" (click)="saveCategory()">Сохранить</button>
      </div>
    </div>
  </div>
</div>
