<div class="container">
    <div *ngIf="stat && controls">

        <div class="row">
            <div class="col-6">
                <div class="table">
                    <table class="table">
                        <tr>
                            <td>Последний круг:</td>
                            <td>{{stat.lastLap | date: 'MM.dd.yyyy HH:mm'}}</td>
                        </tr>
                        <tr *ngFor="let str of stat.logs">
                            <td>{{str.message}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div *ngIf="authService.isAdmin() | async; let isAdmin;">
            <div class="btn-group" *ngIf="isAdmin">
                <button (click)="stopAll()" class="btn btn-danger" [disabled]="controls.stopped">Остановить все</button>
                <button (click)="startAll()" class="btn btn-success" [disabled]="!controls.stopped">Запустить все</button>
            </div>
        </div>
    </div>
</div>