<div class="container">
    <div class="row">
        <div class="col-6">
            <form (ngSubmit)="editTask()" *ngIf="task">
                <div class="form-group">
                    <label for="name">Название задачи</label>
                    <input type="text" name="name"
                           [(ngModel)]="task.name" class="form-control" id="name" required #ngName="ngModel"/>
                </div>

                <div class="form-group">
                    <label>Аккаунты для парсинга</label>
                    <textarea class="form-control" name="account" #ngAccount="ngModel" required [(ngModel)]="accounts"></textarea>
                </div>
                <div class="form-group">
                    <label>Аккаунты, которые использовать</label>
                    <select [(ngModel)]="instagrams" name="instagrams" class="form-control"
                            id="instagram" required #ngInstagrams="ngModel" multiple>
                        <option *ngFor="let acc of allInstagram" value="{{acc.id}}">{{acc.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="daysCountPost">Количество дней для постов</label>
                    <input type="number" name="daysCountPost"
                           [(ngModel)]="task.daysCountPost" class="form-control" id="daysCountPost" required
                           #ngdaysCountPost="ngModel"/>
                </div>
                <div class="form-group">
                    <label for="daysCountComments">Количество дней для комментов</label>
                    <input type="number" name="daysCountComments"
                           [(ngModel)]="task.daysCountComments" class="form-control" id="daysCountComments"
                           #ngDaysCountComments="ngModel"/>
                </div>
                <div class="form-group">
                    <label for="minus">Минус слова</label>
                    <textarea name="minus" required
                              [(ngModel)]="task.minus" class="form-control" id="minus"
                              #ngMinus="ngModel"></textarea>
                </div>
                <div class="form-group">
                    <label for="keywords">Ключевые слова</label>
                    <textarea name="keywords" required
                              [(ngModel)]="task.keywords" class="form-control" id="keywords"
                              #ngKeywords="ngModel"></textarea>
                </div>
                <div class="form-group">
                    <label for="started">Запустить</label>
                    <input type="checkbox" [(ngModel)]="task.started" name="started" class="form-control"
                           id="started"/>
                </div>

                <button [disabled]="!ngName.valid || !ngAccount.valid ||!ngMinus.valid ||!ngKeywords.valid ||
                !ngdaysCountPost.valid || !ngDaysCountComments.valid" type="submit"
                        class="btn btn-primary">Submit
                </button>
            </form>
        </div>
        <div class="col-6">
            <div *ngIf="task && task.firstLapTime">
                <ul>
                    <li *ngFor="let report of reports"><a download href="{{serverHost}}/{{report.filename}}">
                        {{report.date | date: 'MM.dd.yyyy HH:mm'}}</a></li>
                </ul>
                <button class="btn-danger btn" [disabled]="making" (click)="makeReport()">
                    <i [classList]="making ? 'fas fa-spinner rotating' : 'fas fa-plus'"></i>
                    <span class="pl-2">Создать отчет</span>
                </button>
            </div>
        </div>
    </div>
</div>