<div class="container">
  <div class="row">
    <div class="col-6">
      <form (ngSubmit)="addInst()">
        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" name="login"
                 [(ngModel)]="login" class="form-control" id="login" placeholder="login" required
                 autofocus #ngLogin="ngModel">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="password" name="password" class="form-control"
                 id="password"
                 placeholder="Password" required #ngPassword="ngModel">
        </div>

        <button [disabled]="!ngLogin.valid || !ngPassword.valid" type="submit" class="btn btn-primary">Submit
        </button>
      </form>
    </div>

    <div class="col-6">
      <form [formGroup]="form" (ngSubmit)="deleteAccounts()">
        <ul class="list-group" formArrayName="accounts">
          <li class="list-group-item" *ngFor="let account of form.get('accounts')['controls']; let i = index">
            <label class="m-0">
              <input type="checkbox" [formControlName]="i">
              {{accounts[i].login}}
            </label>
            <span class="btn btn-link" *ngIf="!accounts[i].logged" (click)="auth(accounts[i])">auth</span>
          </li>
        </ul>
        <div class="row buttons-row">
          <div class="col-12 d-flex">
            <button [disabled]="!form.valid || deleting" type="submit" class="btn btn-primary">
              <i [classList]="deleting ? 'fas fa-spinner rotating' : 'fas fa-minus'"></i>
              <span class="pl-2">Удалить</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>