<div class="container">
    <div class="row">
        <div class="col-6">
            <form (ngSubmit)="addTask()">
                <div class="form-group">
                    <label for="name">Название задачи</label>
                    <input type="text" name="name" [(ngModel)]="task.name" class="form-control" id="name"required
                           #ngName="ngModel"/>
                </div>

                <div class="form-group">
                    <label>Аккаунты для парсинга</label>
                    <textarea class="form-control" [(ngModel)]="accounts" name="accounts" required #ngAccount="ngModel"></textarea>
                </div>
                <div class="form-group">
                    <label>Аккаунты, которые использовать</label>
                    <select [(ngModel)]="task.instagrams" name="instagrams" class="form-control"
                            id="instagrams" required #ngInstagrams="ngModel" multiple>
                        <option *ngFor="let acc of instagrams" value="{{acc.id}}">{{acc.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="daysCountPost">Количество дней для постов</label>
                    <input type="number" name="daysCountPost" required
                           [(ngModel)]="task.daysCountPost" class="form-control" id="daysCountPost"
                           #ngdaysCountPost="ngModel"/>
                </div>
                <div class="form-group">
                    <label for="daysCountComments">Количество дней для комментов</label>
                    <input type="number" name="daysCountComments"
                           [(ngModel)]="task.daysCountComments" class="form-control" id="daysCountComments" required
                           #ngDaysCountComments="ngModel"/>
                </div>
                <div class="form-group">
                    <label for="minus">Минус слова</label>
                    <textarea name="minus" required
                              [(ngModel)]="task.minus" class="form-control" id="minus"
                              #ngMinus="ngModel"></textarea>
                </div>
                <div class="form-group">
                    <label for="keywords">Ключевые слова</label>
                    <textarea name="keywords"
                              [(ngModel)]="task.keywords" class="form-control" id="keywords" #ngKeywords="ngModel"></textarea>
                </div>
                <div class="form-group">
                    <label for="started">Запущена</label>
                    <input type="checkbox" [(ngModel)]="task.started" name="started" class="form-control" id="started"/>
                </div>

                <button [disabled]="!ngName.valid || !ngAccount.valid ||
                !ngdaysCountPost.valid || !ngDaysCountComments.valid || loading" type="submit"
                        class="btn btn-primary">
                    <i [classList]="loading ? 'fas fa-spinner rotating' : 'fas fa-plus'"></i>
                    <span class="pl-2">Сохранить</span>

                </button>
            </form>
        </div>

        <div class="col-6">
            <form [formGroup]="form" (ngSubmit)="deleteTasks()">
                <ul class="list-group" formArrayName="tasks">
                    <li class="list-group-item" *ngFor="let task of form.get('tasks')['controls']; let i = index">
                        <label class="m-0">
                            <input type="checkbox" [formControlName]="i">
                            <a [routerLink]="['../task-edit/'+tasks[i].id]">{{tasks[i].name}}</a>
                        </label>
                    </li>
                </ul>
                <div class="row buttons-row">
                    <div class="col-12 d-flex">
                        <button [disabled]="!form.valid || deleting" type="submit" class="btn btn-primary">
                            <i [classList]="deleting ? 'fas fa-spinner rotating' : 'fas fa-minus'"></i>
                            <span class="pl-2">Удалить</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>