<div class="container mb-5">
<ul class="nav">
  <ng-template ngFor let-item [ngForOf]="categories">
    <li class="nav-item">
      <a  class="nav-link"  [routerLink]="'/app/category/' + [item.id]">{{item.name}}</a>
    </li>
  </ng-template>
  <li class="nav-item">
    <a  class="nav-link"  [routerLink]="'/app/settings/'">Настройки</a>
  </li>
  <li class="nav-item">
    <a  class="nav-link"  [routerLink]="'/app/'">Управление</a>
  </li>
  <li class="nav-item">
    <a  class="nav-link"  [routerLink]="'/app/instagram-accounts/'">Инстаграм аккаунты</a>
  </li>
  <li *ngIf="isAdmin" class="nav-item">
    <a  class="nav-link"  [routerLink]="'/admin'">Админка</a>
  </li>
  <li class="nav-item">
    <span class="nav-link pointer" (click)="logout()">Выход</span>
  </li>
</ul>
</div>