<div class="container">
    <div class="mt-5">
        <form class="form-horizontal" role="form" method="POST" (ngSubmit)="login()" #ngloginForm="ngForm"
              action="/api/login">
            <div class="row">
                <div class="col-6 offset-3">
                    <h2>Вход</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" type="text" name="email"
                                   [(ngModel)]="email" class="form-control" id="email" placeholder="Email" required
                                   autofocus #ngemail="ngModel">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div [hidden]="ngemail.valid || ngemail.pristine" class="form-control-feedback">
                        <span class="text-danger align-middle">Не верный email</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input type="password" [(ngModel)]="password" name="password" class="form-control"
                                   id="password"
                                   placeholder="Password" required #ngpassword="ngModel" validatePass>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div [hidden]="ngpassword.valid || ngpassword.pristine" class="form-control-feedback">
                        <span class="text-danger align-middle">
                            Минимум 7 символов
                        </span>
                    </div>
                </div>
            </div>

            <div class="row buttons-row">
                <div class="col-6 offset-3 d-flex justify-content-between align-items-center">
                    <div class="left-btn-block">
                        <div class="btn-group">
                            <button type="submit" [disabled]="!ngloginForm.form.valid || logging"
                                    class="btn btn-success">
                                <i [classList]="loading ? 'fas fa-spinner rotating' : 'fas fa-sign-in-alt'"></i>
                                <span class="pl-2">Войти</span>
                            </button>
                            <button [hidden]="!unconfirmed" type="button" [disabled]="!ngemail.valid || resending"
                                    class="btn btn-primary btn-xs" (click)="resend()">
                                <i [classList]="resending ? 'fas fa-spinner rotating' : 'fas fa-envelope'"></i>
                                <span class="pl-2">Выслать письмо повторно</span>
                            </button>
                        </div>
                    </div>
                    <div class="right-btn-block">
                        <a class="btn-link" [routerLink]="['../password-reset']">Забыли пароль?</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
